<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="content">
            <h1>Should I Watch?</h1>

            <form>
                <input type="text" placeholder="Search a movie"><br>
            </form>

            <div class="data-movie">
                <img src="" class="poster">
                <p> 
                    <strong>Title:</strong> <span id="title"></span>
                </p>
                <p>
                    <strong>Overall Score:</strong> <span id="overall-score"></span>
                </p>
                <p>
                    <strong>IMDB Rating:</strong> <span id="imdb"></span>
                </p>
                <p>
                    <strong>Rottem Tomatoes Score:</strong> <span id="tomatoes"></span>
                </p>
                <p>
                    <strong>Metacritic Score:</strong> <span id="metacritic"></span>
                </p>
                <p>
                    <strong>Awards:</strong> <span id="awards"></span>
                </p>
            </div>

        </div>
        
        <script src="/js/script.js"></script>
    </body>
</html>